.layout {
  min-height: 100vh;
}

.content {
  margin: 0 auto;
  max-width: 1080px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
