@import '../../styles/mixin';

.layout {
  min-height: 110vh;
}

.content {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  max-width: 1080px;
}

.ant-layout-header {
  display: flex;

  height: 40px;
  .ant-menu {
    line-height: 40px;
  }

  @include mobile {
    padding: 0px;
  }
  .logo {
    // width: 60px;
    width: 100px;
    height: 41px;
    background: #f1f2f5;
    float: left;
  }
}
