@import '../../styles/mixin';

.ForumTemplate {
  .float {
    position: -webkit-sticky;
    position: sticky;
    left: 75vw;
    top: 10px;
    z-index: 3;
  }

  .page-title {
    font-size: 16px;
  }

  .two-column {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }

  .column-1,
  .column-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .panel {
    padding: 12px 24px;
    border-radius: 4px;
    background-color: white;
  }

  .statistics-market {
    .scale-selector {
      text-align: end;
    }
  }

  .tag-column {
    padding: 0;
  }
  .ant-table-column-sorters {
    padding-left: 8px;
    padding-right: 8px;
  }

  .rank {
    background: white;
    border-radius: 4px;
    .MyRank {
      margin: 0px -24px;
    }
  }

  .comments {
    .comment-form {
      display: flex;
      flex-direction: column;

      .username-tag {
        margin: 8px 0px;
      }

      .username {
        margin: 0px 12px;
      }

      .submit-btn {
        margin-top: 8px;
        align-self: flex-end;
      }
    }
    .comment-content {
      .tag {
        margin-bottom: 2px;
      }

      .ant-comment-content-author-time {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
