.HomeTemplate {
  .head {
    display: flex;
    align-items: flex-end;
    h2 {
      padding: 0 20px;
    }
  }

  .announce {
    text-align: center;
    font-size: 20px;
  }

  .scale-selector {
    display: flex;
    flex-direction: row-reverse;
    margin: 8px 0px;
  }
  .card-wrap {
    display: flex;
  }
}

.HomeTemplate .content {
  display: flex;

  .rank {
    flex: 1;
  }
  .share {
    flex: 1;
    background-color: blanchedalmond;
  }
}

.HomeTemplate .space-horizontal {
  height: 50px;
}

.HomeTemplate .space-vertical {
  width: 20px;
}
