@import '../../styles/mixin';

.ScorebookTemplate {
  display: block;

  .head {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .stage-title {
      padding: 0 20px;
    }
  }
}

.dashboard {
  min-height: 200px;
}

.user-info,
.history {
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: white;
  max-width: 550px;
}
