@import '../../styles/mixin';

.TournamentTemplate {
  .Emoji {
    color: rgba($color: #000000, $alpha: 1);
  }

  .page-title {
    font-size: 16px;
  }

  .stage-title {
    background: #f1f2f5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 8px;
    .round-title {
      padding: 0 20px;
    }
  }
  .score-board {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    .Timer,
    .progress {
      width: 60px;
    }
  }

  .announce {
    text-align: center;
    font-size: 18px;
  }

  .control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mobile {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 30px;
    }

    .switch {
      display: flex;
      align-items: center;
    }

    .blind,
    .more-info {
      margin-right: 8px;
    }

    .scale-selector {
      display: flex;
      justify-content: flex-end;
      padding: 8px 0px;
    }
  }

  .guide-stage {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;

    .small {
      font-size: 14px;
    }

    .guide {
      font-size: 16px;
    }

    .pin {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .market-stage {
    max-width: 450px;
    margin: 0 auto;

    $black: black;
    $red: #f40003;
    $blue: #0e61d3;

    .buttons {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding: 10px 20px;
      .sell {
        background: mix(white, $blue, 30);
        border: none;
      }
      .hold {
        background: mix(white, $black, 50);
        border: none;
      }
      .buy {
        background: mix(white, $red, 30);
        border: none;
      }
    }
  }

  .round-stage {
    .ant-carousel {
      .slick-slide {
        overflow: hidden;
      }
    }

    .slick-dots {
      button {
        background-color: rgba($color: #000, $alpha: 0.5) !important;
      }
    }

    display: flex;
    @include mobile {
      flex-direction: column;
    }

    .vs {
      display: flex;
      width: 30px;
      @include mobile {
        width: 100%;
      }
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }
  }

  .done-stage {
  }

  .two-column {
    display: flex;
    @include mobile {
      flex-direction: column;
    }

    .panel {
      padding: 12px 24px;
      border-radius: 4px;
      background-color: white;
    }

    .column-1,
    .column-2 {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .rank {
      background: white;
      .MyRank {
        margin: 0px -24px;
      }
    }
  }

  .scale-out {
    -webkit-animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  .fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
