@import '../styles/variables';

@function hatching($color) {
  @return repeating-linear-gradient(
    60deg,
    mix(white, $color, 50),
    mix(white, $color, 50) 2px,
    mix(white, $color, 60) 2px,
    mix(white, $color, 60) 6px
  );
}

.market {
  h4 {
    display: inline;
  }
}

.ant-progress-inner {
  background: hatching($red);
}

.ant-progress-bg {
  background: hatching($black);
  border-radius: 0px;
}

.ant-progress-success-bg {
  background: hatching($blue);
  border-radius: 0px;
}

.forecast-label {
  display: flex;
  justify-content: space-between;
  .sell {
    color: mix(white, $blue, 50);
  }
  .hold {
    color: mix(white, $black, 50);
  }
  .buy {
    color: mix(white, $red, 50);
  }
}
