@import '../styles/variables';

.red {
  color: $red;
}
.black {
  color: $black;
}
.blue {
  color: $blue;
}

.score-percent-column {
  text-align: center;
}

.expanded {
  margin: 0;
  padding-bottom: 30px;

  .chart-wrap {
    margin: -16px;
  }

  .price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .price {
      font-size: 20px;
    }
  }
}
