.spinner {
  display: flex;
  min-height: 200px;
  justify-content: center;
  align-items: center;
}

.StockInfoDisplayable .info-head {
  .name {
    font-size: 18px;
  }

  .code {
    margin: 0px 4px;
  }
}

.StockInfoDisplayable .info-more,
.info-price {
  padding: 0 8px;
}
